<% form_for :application, @application, :url => {:action => "saveapp", :id => @application.id }, :html => {:multipart => true} do |f| %>

	<p>Title: <br/>
	<%= f.text_field :title %></p>
	
	<p>Description: <br/>
	<%= f.text_field :description %></p>
	
	<p>Product URL: <br/>
	<%= f.text_field :url %></p>
	
	<p>Discount Code: <br/>
	<%= f.text_field :discount_code %></p>
	
	<p>Icon File:  <br/>
		<%= f.file_field :icon %></p>
	
	<p>Platform:  <br/>
		<%= f.radio_button :platform, "M"%>Mac
		<%= f.radio_button :platform, "P"%>iPhone
		<%= f.radio_button :platform, "D"%>iPad
		<%= f.radio_button :platform, "U"%>Universal
	</p>
	
	<p>List Price: <br/> <%= f.text_field :list_price %></p>
	<p>Sale Price: <br/> <%= f.text_field :sale_price %></p>
	
	<p>Price Currency: <br/>
		<%= f.radio_button :price_currency, 'USD' %>USD
		<%= f.radio_button :price_currency, 'GBP' %>GBP
		<%= f.radio_button :price_currency, 'EUR' %>EUR
	</p>
	
	<p>
	<%= f.submit %></p>
<% end %>