<div id="center">
	<div id="list_intro">
		<p>A discount code is not needed for iPhone or iPad apps.</p>
	</div>
</div>

<div class="pagetitle">
	<% if ( params[:appid] == nil ) %>
	Register App
	<% else %>
	Edit App
	<% end %>
</div>

<div id="appedit">

<% form_for :application, @application, :url => {:action => "saveapp", :id => @application.id }, :html => {:multipart => true} do |f| %>

	<p class="form">Title</p>
	<%= f.text_field :title, :class => 'iapps' %>
	
	<p class="form">Description (540 char max)</p>
	<%= f.text_area :description, :rows => 7, :class => 'iapps' %>
	
	<p class="form">Product Get It Now URL</p>
	<%= f.text_field :url, :class => 'iapps' %>

	<p class="form">Product More Info URL</p>
	<%= f.text_field :moreinfo, :class => 'iapps' %>
	
	<p class="form">Discount Code</p>
	<%= f.text_field :discount_code, :class => 'iapps' %>
	
	<p class="form">Icon File</p>
		<% if @application.icon.exists? %>
		<%= image_tag @application.icon.url(:small) %>
		<% end %>
		<div id="icon_info">(150px X 150px - Will be scaled)</div>
		<%= f.file_field :icon, :class => 'iapps' %>
	
	<p class="form">Platform</p>
	<%= f.select(:platform, [['Mac','M'],['iPhone','P'],['iPad','D'],['Universal','U']], {:class => 'iaps'})%>
	
	<p class="form">List Price</p>
	<%= f.text_field :list_price, :class => 'iapps' %>
	
	<p class="form">Sale Price</p>
	<%= f.text_field :sale_price, :class => 'iapps' %>
	
	<p class="form">Price Currency</p>
	<%= f.select(:price_currency,[['USD','USD'],['GBP','GBP'],['EUR','EUR']], {:class => 'iaps'})%>
	
	<div id="submit">
		<%= f.submit %>
	</div>
<% end %>

</div>