<div id="intro2">
<p>A discount code is not needed for iPhone or iPad apps.</p>
<p></p> 
</div>

<hr class="top-10"/>

<div id="edit-form">

<% form_for :application, @application, :url => {:action => "saveapp", :id => @application.id }, :html => {:multipart => true} do |f| %>

	<p>Title: <br/>
	<%= f.text_field :title %></p>
	
	<p>Description: <br/>
	<%= f.text_area :description, :rows => 5 %></p>
	
	<p>Product URL: <br/>
	<%= f.text_field :url %></p>
	
	<p>Discount Code: <br/>
	<%= f.text_field :discount_code %></p>
	
	<p>Icon File:  <br/>
		<% if @application.icon.exists? %>
		<%= image_tag @application.icon.url(:small) %>
		<% end %>
		<br/>
		<%= f.file_field :icon %></p>
	
	<p>Platform:  <br/>
		<%= f.select(:platform, [['Mac','M'],['iPhone','P'],['iPad','D'],['Universal','U']])%>
	</p>
	
	<p>List Price: <br/> <%= f.text_field :list_price %></p>
	<p>Sale Price: <br/> <%= f.text_field :sale_price %></p>
	
	<p>Price Currency: <br/>
		<%= f.select(:price_currency,[['USD','USD'],['GBP','GBP'],['EUR','EUR']])%>
	</p>
	
	<p>
	<%= f.submit %></p>
<% end %>

</div>