
<div class="pagetitle">
Edit Company
</div>

<% form_for :company, @company, :url => {:action => "savecompany", :id => @company.id }, :html => {:multipart => true} do |f| %>

	<div class="editcompany">
		<p class="form">Company Name</p><%= f.text_field :title, :class => 'iapps' %>
		<p class="form">Email</p><%= f.text_field :email, :class => 'iapps' %>
		<p class="form">Contact</p><%= f.text_field :contact, :class => 'iapps' %>
		<p class="form">Site URL</p><%= f.text_field :url, :class => 'iapps' %>
		
		<div id="submit">
			<%= f.submit %>
		</div>
	</div>
	
<% end %>

