
<div class="center">
	<div id="list_intro">
		<p>Add any Mac, iPhone, or iPad software that you wish to participate in the Back to School Sale.</p> 
		<p>Due to the nature of the AppStore iPhone and iPad apps will need to be discounted throughout the AppStore during the sale period.</p>
		<p>When the sale starts your software will be listed as shown below.</p>
	</div>
</div>

<div id="devapplist">
	<div class="companyname">
		<% if ((@company.url != nil) && (@company.url != '')) %>
			<% if @company.url.include? "http" %>
				<a href="<%= @company.url %>" class="iapps"><%= @company.title %></a>
			<% else %>
				<%= @company.title %>
			<% end %>
		<% else%>
			<%= @company.title %>
		<% end %>
	</div>
</div>

<% for a in @applications %>

<div class="devapplistitem">
			<hr class="app"/>
			
			<div class="appinfo">
	 
			<div class="app_icon">
				<% if a.icon.exists? %>
				<%= image_tag a.icon.url(:small) %>
				<% end %>
			</div>

			<div class="app_text">
				<div class="app_ident">
					<div class="app_title">
						<%= a.title %>
					</div>
					
					<div class="app_description">
						<%= a.description %>
						<% if a.moreinfo != nil && a.moreinfo != '' %>
							<a href="<%= a.moreinfo %>" class="iapps"> (more)</a>
						<% end %>
					</div>
				</div>
				
				<div class="app_detail">
					<div class="app_buy">
						<a href="http://<%= a.url %>"><img src="/images/buybox.png"/></a>
						<a href="http://<%= a.url %>" class="app_detail"><div class="buy">BUY</div></a>
						
						<div class="app_price">
							<a href="http://<%= a.url %>" class="app_detail"><%= a.sale_price %> (<%= a.price_currency%>)</a>
						</div>
											
						<div class="percentoff">
							<a href="http://<%= a.url %>" class="app_detail"><%= a.discount.to_i %> % Off</a>
						</div>
						
						<div class="disccode">
							<% if a.discount_code != '' %>
							
								<div>Discount Code</div>
								<%= a.discount_code %>
							
							<% else %>
							
								<div>No discount</div><div>code required</div>
								
							<% end %>
						</div>
					</div>
				</div>
			</div>
		
		<div class="clear"></div>
		
		</div> <!-- end appinfo div -->
		
		<hr class="app"/>
	
	<div class="appinfo-edit">
		<p><a href="/developer/editapp?appid=<%= a.id %>" class="iapps">Edit</a> | <a href="/developer/deleteapp?appid=<%= a.id %>" class="iapps">Delete</a></p>
	</div>
	
</div>


<% end %>

<div class="company_admin">
	<p>
	<a href="/developer/editapp" class="iapps">Register a new application</a>
	</p>

	<p>
	<a href="/developer/editcompany" class="iapps">Edit company information</a>
	</p>
</div>

