


<% if ENV['saleActive'] == 'YES' %>

<div id="intro">
Get back to school with these fantastic software discounts from independent Mac and iPhone developers. 
</div>

<hr class="top-10"/>

<div class="sections">

	<div class="section1">
		<a href="/?platform=mac"><img width="100px" height="100px" src="/images/imac-256.png"/></a>
		<div class="<% if @platform == 'mac' %>selected_section<% else %>unselected_section<% end %>" ><a href="/?platform=mac">Mac</a></div>
	</div>	
	
	<div class="subsection">
		<div class="section2">
			<a href="/?platform=iphone"><img width="100px" height="100px" src="/images/iPhone.png"></a>
			<div class="<% if @platform == 'iphone' %>selected_section<% else %>unselected_section<% end %>"><a href="/?platform=iphone">iPhone</a></div>
		</div>
		
		<div class="section3">
			<a href="/?platform=ipad"><img width="100px" height="100px" src="/images/iPad.png"></a>
			<div class="<% if @platform == 'ipad' %>selected_section<% else %>unselected_section<% end %>"><a href="/?platform=ipad">iPad</a></div>
		</div>
	</div>

</div>


<% last_company = nil %>

<% if @applications != nil %>
<% for a in @applications %>

	<% if last_company != a.company %>
	<div class="company"><%= a.company.title %>
		
		<% if ( (a.company.url != nil) && (a.company.url != '') ) %>

		<% if a.company.url.include? "http" %>
			( <a href="<%= a.company.url %>">site</a> )
		<% else %>
			( <a href="http://<%= a.company.url %>">site</a> )
		<% end %>

		<% end %>
		
		</div>
		<% last_company = a.company %>
	<% end %>

	<% if a.approved == true %>


<div class="span-24">
	<div class="appinfobckgnd">
		<div class="appinfo">
	 
			<div class="span-4">
				<% if a.icon.exists? %>
				<%= image_tag a.icon.url(:small) %>
				<% end %>
			</div>

			<div class="span-12">
				<div class="apptitle">
					<%= a.title %>
					<% if ( (a.moreinfo != nil) && (a.moreinfo != '') ) %>

					<% if a.moreinfo.include? "http" %>
						( <a href="<%= a.moreinfo %>">more info</a> )
					<% else %>
						( <a href="http://<%= a.moreinfo %>">more info</a> )
					<% end %>

					<% end %>
				</div>
			</div>
			
			<div class="span-12">
				<% if ( (a.description != nil) && (a.description != '')) %>
					<%= a.description %>
				<% else %>
					(no description yet)
				<% end %>
     		</div>
		

		<!-- <div class="span-10 last"> -->
		<div class="span-4 appinforight">
		
			<div class="burst">
				<div class="burst_content">
					<% if ( ( a.discount != nil ) && ( a.discount > 0.0 ) )%>
						<div class="burst_percent">
							<%= a.discount.to_i %> %
							<div class="percentoff">
						       Off
							</div>
						</div>
					<% end %>
				</div>
			</div>
			
			<div class="app_price">
				<%= a.sale_price %> (<%= a.price_currency%>)
			</div>
				
				<div class="now">
					<% if a.url.include? "http" %>
						<a href="<%= a.url %>">Get it Now!</a>
					<% else %>
						<a href="http://<%= a.url %>">Get it Now!</a>
					<% end %>
				</div>
				
				<div class="disccode">
				<% if a.discount_code != '' %>
				
					<div>Discount Code</div>
					<%= a.discount_code %>
				
				<% else %>
				
					<div>No discount</div><div>code required</div>
					
				<% end %>
				</div>
			
		</div>
		
		</div>
	</div>
</div>

	<% end %>
	
<% end %>
<% end %>

<% else %>

<div id="intro">
Sale begins in:
</div>

<script type="text/javascript">countdown_clock(10, 08, 15, 00, 00, 1);</script>

<hr class="top-10"/>

<div id="intro">
	<%= @devcount %> Developers, <%= @appcount %> Applications and over $<%= @totaldiscount %> of discounts
</div>

<% end %>