
<div id="intro">
Get back to school with these fantastic software discounts from independent Mac and iPhone developers. 
</div>

<hr class="top-10"/>

<div class="sections">

<p>
	<a href="/?platform=mac"><img width="100px" height="100px" src="/images/imac-256.png"/></a>				
	<a href="/?platform=iphone"><img width="100px" height="100px" src="/images/iPhone.png"></a>
	<a href="/?platform=ipad"><img width="100px" height="100px" src="/images/iPad.png"></a>
</p>

</div>

<% last_company = nil %>

<% if @applications != nil %>
<% for a in @applications %>

	<% if last_company != a.company %>
	<h3><%= a.company.title %></h3>
		<% last_company = a.company %>
	<% end %>


<div class="span-24">
	<div class="appinfobckgnd">
		<div class="appinfo">
	 
			<div class="span-4">
				<% if a.icon.exists? %>
				<%= image_tag a.icon.url(:small) %>
				<% end %>
			</div>

			<div class="span-12">
				<div class="apptitle">
					<%= a.title %>
				</div>
			</div>
			
			<div class="span-12">
				<%= a.description %>
     		</div>
		

		<!-- <div class="span-10 last"> -->
		<div class="span-4 appinforight">
		
			<div class="burst">
				<div class="burst_content">
					<% if ( ( a.discount != nil ) && ( a.discount > 0.0 ) )%>
						<div class="burst_percent">
							<%= a.discount.to_i %> %
							<div class="percentoff">
						       Off
							</div>
						</div>
					<% end %>
				</div>
			</div>
			
			<div class="app_price">
				<%= a.sale_price %> (<%= a.price_currency%>)
			</div>
				
				<div class="now">
					<a href="http://<%= a.url %>">Get it Now!</a>
				</div>
				
				<div class="disccode">
				<% if a.discount_code != '' %>
				
					<div>Discount Code</div>
					<%= a.discount_code %>
				
				<% else %>
				
					<div>No discount</div><div>code required</div>
					
				<% end %>
				</div>
			
		</div>
		
		</div>
	</div>
</div>
	
<% end %>
<% end %>