


<% if ENV['saleActive'] == 'YES' %>
		
<div class="clear"></div>

<div class="sections">

	<div class="section1">
		<div class="section_icon_mac">
			<a href="/?platform=mac" class="iapps">
				<img src="/images/mac.png"/>
			</a>
		</div>
		<div class="section_label"><a href="/?platform=mac" class="iapps">Mac</a></div>
		<div class="<% if @platform == 'mac' %>selected_section<% else %>unselected_section<% end %>" ><img src="/images/selection.png"/></div>
	</div>	
	
	<div class="subsection">
		<div class="section2">
			<div class="section_icon_iphone">
				<a href="/?platform=iphone" class="iapps"><img src="/images/iphone.png"></a>
			</div>
			<div class="section_label"><a href="/?platform=iphone" class="iapps">iPhone</a></div>
			<div class="<% if @platform == 'iphone' %>selected_section<% else %>unselected_section<% end %>"><img src="/images/selection.png"/></div>
		</div>
		
		<div class="section3">
			<div class="section_icon_ipad">
				<a href="/?platform=ipad" class="iapps"><img src="/images/ipad.png"></a>
			</div>
			<div class="section_label"><a href="/?platform=ipad" class="iapps">iPad</a></div>
			<div class="<% if @platform == 'ipad' %>selected_section<% else %>unselected_section<% end %>"><img src="/images/selection.png"/></div>
		</div>
	</div>

</div>

<div class="clear"></div>

<% last_company = nil %>

<% if @applications != nil %>


<% for a in @applications %>

	<% if a.company != nil %>

	<% if last_company != a.company %>
		<% if a.company.url != nil && a.company.url != '' %>
			<div class="companyname"><a href="<%= safeURL(a.company.url) %>" class="iapps" target="_new"><%= a.company.title %></a></div>
		<% else %>
			<div class="companyname"><%= a.company.title %></div>
		<% end %>
		<a name="<%= a.company.title %>"></a>
		<hr class="app"/>
		
		<% last_company = a.company %>
	<% end %>

	<% if a.approved == true %>

		<div class="appinfo">
	 
			<div class="app_icon">
				<a href="<%= safeURL(a.url) %>" target="_new">
				<% if ( (a.icon != nil) && (a.icon.exists?) ) %>
				<%= image_tag a.icon.url(:small) %>
				<% end %>
				</a>
			</div>

			<div class="app_text">
				<div class="app_ident">
					<div class="app_title">
						<a href="<%= safeURL(a.url) %>" class="iapps" target="_new"><%= a.title %></a>
					</div>
					
					<div class="app_description">
						<%= a.description %>
						<% if a.moreinfo != nil && a.moreinfo != '' %>
							<a href="<%= safeURL(a.moreinfo) %>" class="iapps" target="_new"> (more)</a>
						<% end %>
					</div>
				</div>
				
				<div class="app_detail">
					<div class="app_buy">
						<a href="<%= safeURL(a.url) %>" target="_new"><img src="/images/buybox.png"/></a>
						<a href="<%= safeURL(a.url) %>" class="app_detail" target="_new"><div class="buy">BUY</div></a>
						
						<div class="app_price">
							<a href="<%= safeURL(a.url) %>" class="app_detail" target="_new"><%= currSymbol(a.price_currency) %><%= number_with_precision(a.sale_price, :precision => 2) %></a>
						</div>
											
						<div class="percentoff">
							<a href="<%= safeURL(a.url) %>" class="app_detail" target="_new"><%= a.discount.to_i %>% Off</a>
						</div>
						
						<div class="disccode">
							<% if a.discount_code != '' %>
							
								<div>Discount Code</div>
								<%= a.discount_code %>
							
							<% else %>
							
								<div>No discount</div><div>code required</div>
								
							<% end %>
						</div>
					</div>
				</div>
			</div>
		
		<div class="clear"></div>
		
		</div> <!-- end appinfo div -->
		
		<hr class="app"/>

	<% end %>
	
<% end %>
<% end %>
<% end %>

<% else %>

	<div id="presale">
		<script type="text/javascript">countdown_clock(10, 08, 15, 00, 00, 1);</script>

		<div id="salestart">Sale Start</div>

		<div id="salestats">
			<div><%= @devcount %> Developers</div>
			<div><%= @appcount %> Applications</div>
			<div>$<%= @totaldiscount %> in Discounts</div>
		</div>
		
		<div id="presale_developers"><a href="/developer" class="iapps">Developers Sign Up Here</a><div>or <a href="/developer" class="iapps">Login</a></div></div>
		
		<div id="center_twitter">
			<a href="http://twitter.com/iappsforstudent" class="iapps">
				<img src="/images/twitter.png"/>
				<div id="presale_follow">Follow Us</div>
			</a>
		</div>
		
		<div id="center">
			<div class="presale_subscribe">
				<a href="/newsletter/subscribe" class="iapps">
					Subscribe to our Newsletter
				</a>
			</div>
		</div>
	</div>

<% end %>