<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>iAppsForStudents <%= controller.action_name %></title>
  <meta name="description" content="Mac, iPhone and iPad application back to school sale for students"/>
  <meta name="keywords" content="Mac,iPhone,iPad,iOS,Student,School,Sale,Discount,Promotion"/>

  <%= stylesheet_link_tag 'iappsforstudents.css'%>
  
  <%= javascript_include_tag 'curvycorners.js'%>
  <%= javascript_include_tag 'application.js'%>

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-923601-8']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

</head>
<body>

<div class="container">
	<div id="header">
		<div id="headercontent">
			<div id="logo">
				<a href="/"><img src="/images/logo.png"/></a>
			</div>
			
			<div id="headnav">
				<div id="twitter">
					<a href="http://twitter.com/iappsforstudent" class="iapps">
						<img src="/images/twitter.png"/>
						<div id="follow">Follow Us</div>
					</a>
					<div id="navsubscribe"> / <a id="navsubscribe" href="/newsletter/subscribe" class="iapps">Subscribe</a></div>
				</div>
				
				<div id="bannerright">
					<div id="banner">
						<img id="banner" src="/images/banner.png"/>
					</div>
					
					<div id="devlogin">
						<a href="/developer" class="iapps">Developer Login</a></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="content">	

		<div id="flasherror"><%= flash[:notice] %></div>
		
		<%= yield %>
	</div>
</div>


<div id="footer">
	Brought to you by <a href="http://www.bluelightninglabs.com" class="footer" target="_new">Blue Lightning Labs </a>, <a href="http://www.randomaccident.com" class="footer" target="_new"> Random Accident</a> and <a href="/home/company_list" class="footer">MORE GREAT DEVELOPERS!</a>
</div>



</body>
</html>